* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: auto;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  justify-content: center;
  width: 400px;
  border-radius: 10px;
  font-weight: bold;
}
input {
  width: 250px;
  height: 40px;
  background-color: black;
}
.dispaly {
  padding: 20px;
}
.row1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: white;
  background-color: rgb(241, 94, 94);
  justify-content: center;
  font-size: 1rem;

}
.row2 {
    margin: 5px;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 1.4rem;

}
.operator-button {
  margin:10px 30px;
}
.digit-button {
    margin:15px 50px;
}
