* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  background-color:rgb(16, 28, 42);
  align-items: center;
  justify-content: center;
  width: 400px;
  border-radius: 10px;
  font-weight:400;
}
.display-screen {
  width: 350px;
  height: 30px;
  background-color:rgb(16, 28, 42);
  border: none;
  pointer-events: none;
  color: white;
  text-align: end;
  font-size: 25px;
  font-weight: 700;
}
.dispaly {
  padding: 20px;
}
.row1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: white;
  background-color: rgb(223, 34, 102);
  justify-content:space-between;
  font-size: 1.2rem;
  font-weight: bolder;
}
.row2 {
    margin: 1px;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 1.4rem;

}
.operator-button {
  width: 80px;
  border-right: 1px solid rgb(204, 182, 182);
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  

}
.digit-button {
    margin: 5px 20px;
    cursor: pointer;
    width: 100px;
    text-align: center;

}
